<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.3.1-alpha" targetFramework="net452" />
  <package id="Accord.IO" version="3.3.1-alpha" targetFramework="net452" />
  <package id="Accord.Video" version="3.3.1-alpha" targetFramework="net452" />
  <package id="Accord.Video.FFMPEG" version="3.3.1-alpha" targetFramework="net452" />
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net45" />
  <package id="xmediaencoding" version="1.4.0.500" targetFramework="net45" />
</packages>